.multi-select-statistic {
  display: flex;
  justify-content: space-between;
  background: #f5f7fa;
}
.select-all,
.cancel {
  margin-left: 24px;
  cursor: pointer;
}
.multi-select-statistic__actions {
  display: flex;
}
.multi-select-statistic__actions .delete {
  margin-right: 8px;
}
.multi-select-statistic__actions div {
  cursor: pointer;
}
